/* Default (dark mode) */
:root {
    --primary-color: #ffc628;
    --success-color: #ffc6282f;
    --success-color-border: #fff628;
    --primary-color-hover: #ffb628;
    --secondary-color: #333;
    --third-color: rgba(0, 0, 0, 0.5);
    --four-color: #000;
    --secondary-color-2: #242424;
    --secondary-color-3: #1a1a1a;
    --liner-gradient-primary: linear-gradient(to top, #1111119f 0%, #3333339d 75%);
    --liner-gradient-secondary: linear-gradient(to top, #3333339d 0%, #1111119f 75%);
    --text-color: #ffffff;
    --color-transparent-1: rgba(51,51,51,1);
    --color-transparent-2: rgba(102,102,102,0.1);
}
/* Applying light mode */
:root.light-mode {
    --primary-color: #ffc628;
    --success-color: #ffc6284d;
    --success-color-border: #ffb600;
    --primary-color-hover: #ffb628;
    --secondary-color: #ccc;
    --third-color: rgba(255, 255, 255, 0.5);
    --four-color: #fff;
    --secondary-color-2: #e0e0e0;
    --secondary-color-3: #f5f5f5;
    --liner-gradient-primary: linear-gradient(to top, #e0e0e0 0%, #f5f5f5 75%);
    --liner-gradient-secondary: linear-gradient(to top, #f5f5f5 0%, #e0e0e0 75%);
    --text-color: #000;
    --color-transparent-1: rgba(251,251,251,1);
    --color-transparent-2: rgba(222,222,222,0.1);
}
